<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ambulance.WebClient</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="Statistician, Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="age">
                    <span class="oi oi-home" aria-hidden="true"></span> Болезни по возрасту
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="brigadeCalls">
                    <span class="oi oi-home" aria-hidden="true"></span> Вызова бригад
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="diagnosisGender">
                    <span class="oi oi-home" aria-hidden="true"></span> Болезни по полу
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Employee, Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fillCall">
                        <span class="oi oi-book" aria-hidden="true"></span> Заполнить вызов
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="callInfo">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Найти вызов бригады
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="info">
                        <span class="oi oi-book" aria-hidden="true"></span> Найти вызов
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-list-rich" aria-hidden="true" @onclick="LogOut"></span> LogOut
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [Inject]
    private IAuthorizationService AuthorizationService { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task LogOut()
    {
        await AuthorizationService.LogOut();
        NavigationManager.NavigateTo("counter", true);
    }
}
