@page "/diagnosisGender"

@using Ambulance.Domain.Models.Statistics
<h3>DiagnosisGenderChart</h3>

<button class="btn btn-info" @onclick="DownloadFile">Загрузить файл</button>

<Syncfusion.Blazor.Spinner.SfSpinner @bind-Visible="@isLoad" Size="60" Label="Загрузка"></Syncfusion.Blazor.Spinner.SfSpinner>
<div class="control-section">
    <div class="content-wrapper">
        <SfPivotView TValue="CallFullInfo" ShowTooltip="false">
            <PivotViewDataSourceSettings DataSource="@Calls">
                <PivotViewColumns>
                    <PivotViewColumn Name="DiagnosisName"></PivotViewColumn>
                    <PivotViewColumn Name="Age"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Gender"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="CallNumber" Caption="Count"></PivotViewValue>
                </PivotViewValues>
            </PivotViewDataSourceSettings>
        </SfPivotView>
    </div>
</div>
<style>
    .e-pivotview {
        min-height: 200px;
    }
</style>